body {
    background-color: red;
    text-align: center;
}
h1 {
    color: black;
    font-size: 3vw;
    font-weight: bolder;
}
#box {
    text-align: left;
    display: inline-block;
    padding-left: 10vw;
    font-size: 2vw;
    background-color: white;
    width: 60vw;
    border-radius: 3vw;
}
input {
    width: 20vw;
}
#Answer {
    display: none;
}
mark {
    background-color: yellow;
    color: black;
  }
